__pycache__/
.venv/
.vscode/
test/
src/ZenUI.egg-info
src/ZenUI/_legacy/
zenui_gallery/image
zenui_gallery/rc.qrc
log/
zenui.log

*.pyc
*.psd
*.bkp

build/
dist/
main.build/
main.dist/
nuitka-crash-report.xml
main.spec


