__pycache__/
.venv/
.vscode/
test/
src/ZenWidgets.egg-info
src/_legacy/
zen_widget_gallery/image
zen_widget_gallery/rc.qrc
log/
zen.log

*.pyc
*.psd
*.bkp

build/
dist/
main.build/
main.dist/
nuitka-crash-report.xml
main.spec


