__pycache__/
.vscode/
test/
data/
ZenUi.egg-info/
design_drawing/
ZenUI/assets/icons/
ZenUI/assets/packge/
image/

*.pyc
*.psd
test.py
testgradient.py
testslider.py
rc.qrc

build/
dist/
main.spec
desktop.ini

